@use "./variable";

body {
    font-family: variable.$font-stack;
    margin: 0;
    padding: 0;
    color: variable.$color-text;
    background-color: variable.$color-background;
}

#root {
    display: flex;

    h3 {
        font-size: 2.5rem;
        font-weight: 100;
        letter-spacing: 5px;
        text-align: center;
    }
    h4 {
        font-size: 1.5rem;
        font-weight: 100;
        letter-spacing: 5px;
        text-align: center;
    }

    nav {
        width: 25%;
        height: 100vh;
        background-color: variable.$color-primary;
        display: flex;
        flex-direction: column;
        position: fixed;
        // justify-content: center;
        align-items: center;

        .links {
            width: 100%;
            height: 65vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
                color: variable.$color-background;
                font-weight: 600;
                text-decoration: none;
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }

        footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 30%;
            }
            #social {
                display: flex;
                justify-content: center;
                a {
                    font-size: 2rem;
                    padding: 5px;
                    color: variable.$color-background;
                }
            }
            p {
                margin: 5px;
                text-align: center;
                color: variable.$color-background;
            }

            p + p {
                font-size: 0.8rem;
            }
        }
    }
    main {
        width: 75%;
        margin-left: 25%;
        .menu {
            visibility: hidden;
            overflow: hidden;
        }

        hr {
            margin: 0 5%;
        }
    }

    main#home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

        img {
            width: 150px;
            border-radius: 50%;
            border: 5px solid variable.$color-primary;
        }

        .text {
            text-align: center;
            font-weight: 300;
            font-size: 36px;
            color: variable.$color-text;
        }
        .dud {
            color: variable.$color-disable;
        }
    }

    main#works {
        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            div {
                transition: all 0.3s ease-in-out;
                width: 250px;
                margin: 15px;
                height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                cursor: pointer;
                //align-items: center;
                // .card-title {
                //     text-decoration: underline;
                // }
                .card-sub {
                    font-weight: 300;
                    font-size: 0.8rem;
                    font-style: italic;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }

            div:nth-child(even) {
                background-color: variable.$color-primary;
            }
            div:nth-child(odd) {
                background-color: variable.$color-text;
                color: variable.$color-primary;
            }
        }
    }

    main#about {
        p {
            text-align: justify;
            margin: 5%;
        }
        text-align: center;

        .tags {
            margin: 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            span {
                font-size: 0.8rem;
                font-weight: 500;
                padding: 3px 6px;
                color: variable.$color-background;
                margin-right: 5px;
                margin-bottom: 5px;

                background-color: variable.$color-text;
            }
        }
        a {
            text-align: center;
            font-size: 1.5em;
            color: variable.$color-primary;
            text-decoration: none;
            padding: 10px 30px;
            border: 2px solid variable.$color-primary;
            transition: all 0.6s ease-in-out;

            &:hover {
                background-color: variable.$color-primary;
                color: variable.$color-text;
            }
        }
    }

    .modal {
        visibility: hidden;
        overflow: hidden;
        left: -100%;
        width: 100%;
        min-height: 100%;
        transition: all 0.6s ease-in-out;
        background-color: variable.$color-primary;
        position: absolute;

        .close {
            font-size: 2rem;
            position: absolute;
            top: 20px;
            right: 20px;
            transition: all 0.6s ease-in-out;

            &:hover {
                transform: rotate(180deg);
            }
        }
        div {
            padding: 0 20px;
        }
        #image {
            margin-top: 20px;
            //width: 50%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            img {
                border-radius: 15px;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                margin: 10px;

                max-width: 500px;
            }
        }
        #content {
            text-align: center;
            //width: 50%;
            h3 {
                margin-bottom: 5px;
            }

            .sub {
                font-size: 1rem;
                font-weight: 100;
                font-style: italic;
            }

            .tags {
                margin: 10px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                span {
                    font-size: 0.8rem;
                    font-weight: 300;
                    padding: 3px 6px;
                    color: variable.$color-background;
                    margin-right: 5px;
                    margin-bottom: 5px;

                    background-color: variable.$color-text;
                }
            }
        }

        &.visible {
            visibility: visible;
            overflow: visible;
            left: 0;
            //width: 100%;
        }
    }
}

@media only screen and (max-width: 600px) {
    #root {
        nav {
            visibility: hidden;
            overflow: hidden;
            position: absolute;
            height: 100vh;
            width: 100%;
            z-index: 1;
            margin: 0;
        }
        main {
            width: 100%;
            margin-left: 0;
            .menu {
                visibility: visible;
                overflow: visible;
                position: absolute;
                top: 10px;
                left: 10px;
                padding: 10px 15px;
                background-color: variable.$color-primary;
            }
        }
        main#home {
            height: 100vh;
        }

        .modal {
            #image {
                img {
                    max-width: 300px;
                }
            }
        }
    }
}
